{% extends "base.twig" %}

{% block content %}
  <main>
    <h1>{{ title }}</h1>

    <div class="typography">
      {{ content|raw }}
    </div>

    {% if posts|length > 0 %}
      {% for post in posts %}
        <article class="post">
          <h1><a href="{{ post.link }}">{{ post.title }}</a></h1>
          <div>
            {{ post.content|raw }}
          </div>
        </article>
      {% endfor %}
    {% else %}
      <p>No results found.</p>
    {% endif %}
  </main>
{% endblock %}
